<!DOCTYPE html>
<html
        lang="ja"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Spring Security and Azure Active Directory</title>
</head>
<body>
<div style="float:right" th:fragment="logout" sec:authorize="isAuthenticated()">
    <div>
        <span style="font-weight:bold">User: </span><span sec:authentication="name"></span>
    </div>
    <div>
        <span style="font-weight:bold">Default Authorities: </span><span sec:authentication="principal.authorities"></span>
    </div>
    <div>
        <span style="font-weight:bold">Mapped Authorities: </span><span sec:authentication="authorities"></span>
    </div>
    <div>&nbsp;</div>
    <div style="float:right">
        <form action="#" th:action="@{/logout}" method="post">
            <input type="submit" value="Logout" />
        </form>
    </div>
</div>
<h1>Azure Active Directory Login with Spring Security</h1>
<div>
    You are successfully logged in <span style="font-weight: bold" th:text="${userName}"></span>
    via the OAuth 2.0 Client <span style="font-weight: bold" th:text="${clientName}"></span>
</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>
    <a href="/graph">Graph Client</a>
</div>
</body>
</html>